{% extends "_layout" %}

{% block main %}
	<div class="header pure-u-1">
		<div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
			<a class="pure-menu-heading" href="">yoursort.de</a>

			<ul>
				<li class="pure-menu-selected"><a href="#">News</a></li>
				<li><a href="#">Gigs</a></li>
				<li><a href="#">Music</a></li>
				<li><a href="#">Pics</a></li>
				<li><a href="#">Band</a></li>
			</ul>
		</div>
	</div>

	<div class="splash pure-u-1">
		<div class="pure-g-r">
			<div class="pure-u-1-3 photo-box">
				<!-- <div class="l-box splash-image"> -->
					<img src="http://placehold.it/500x350"
						 alt="Placeholder image for example.">
				<!-- 	 -->
			</div>

			<div class="pure-u-2-3">
				<div class="l-box splash-text">
					<h1 class="splash-head">
						{{ homepage.heading }}
					</h1>

					<h2 class="splash-subhead">
						{{ homepage.body }}
					</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="content pure-u-1">
		<div class="posts pure-g">
			<h1 class="content-subhead pure-u-1">Pinned Post</h1>
			{% for entry in craft.entries.section('news').limit(6).find() %}
				<section class="post pure-u-1">
					<header class="post-header">
						<!-- <img class="post-avatar"
							 alt="Tilo Mitra's avatar" src="/img/common/tilo-avatar.png"
							 height="48" width="48"> -->
						<h2 class="post-title pure-u-1">{{ entry.title }}</h2>
						<p class="post-meta pure-u-1">
							By <a href="#" class="post-author">{{ entry.author }}</a> under
						</p>
					</header>
					<div class="post-description pure-u-1">
						{{ entry.body }}
					</div>
				</section>
			{% endfor %}
		</div>
	</div>
	<div class="pure-g-r content-ribbon">
		<div class="pure-u-1-3">
			<div class="l-box">
				<img src="http://placehold.it/400x250"
					 alt="Placeholder image for example.">
			</div>
		</div>
		<div class="pure-u-2-3">
			<div class="l-box">
				<h4 class="content-subhead">Some more small text</h4>
				<h3>Etiam iaculis iaculis lobortis.</h3>
				<p>
					Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodalespellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum Nam sodales consequat metus sed accumsan.
				</p>
			</div>
		</div>
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1-3">
			<div class="l-box">
				{% include "_newsletter" %}
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="l-box">
				{% include "_links" %}
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="l-box">
				<h3>Subheading</h3>
				<p>
					Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, aelementum metus felis sit amet eros. Phasellus pellentesque euismod massased pellentesque.
				</p>
			</div>
		</div>

	</div>
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="l-box ribbon">
				<h2>Get started now.</h2>
				<a href="#" class="pure-button primary-button">Sign up</a>
			</div>
		</div>
	</div>


	<div class="footer pure-u-1">
		View the source of this layout to learn more. Made with love by the YUI Team.
	</div>
{% endblock %}
